.directory 
.vscode

*.bak

# OS X
.DS_Store
._.DS_Store
._*

# Lnx
*~

# PYTHON
*.pyc

# TMP
tmp/**

## Python virtualenv
venv/**


## Stone photos
stone_photo*

## Data
brain/stones/**
brain/map/**
brain/map_offline/**
brain/map_offline_old/**
brain/map_offline_old2/**
brain/map_images/**
brain/logs/**
training/static/stones/**
/brain/grabs.tar
/training/voting.db.lock
/training/voting.db.r*



