{% extends "layout.html" %}
{% block body %}

<script>
	$(document).ready(function(argument) {
		$(document).keypress(function( event ) {
			if (event.which == 13) {
				event.preventDefault();
			}

			console.log(event.key.toLowerCase() == 'n');
		});



		$.ajax({
			url: '/stones/similar/stone_grab_1365_1035.jpg_005?count=2'
		}).done(function(res){
			console.log(res);

			var template = $('#stone-template').html();
			Mustache.parse(template);


			for (var i = 0; i < res.stones.length; i++) {
				var stone = res.stones[i];
				var html = Mustache.render(template, {img_src: stone.img_src, identifier: stone.identifier});

				var stone_el = $(html).appendTo("#stone_chooser");
				var votes_ul = $(stone_el).find(".votes");

					$("<li>Bla</li>").appendTo(votes_ul);
										$("<li>Bla</li>").appendTo(votes_ul);
										$("<li>Bla</li>").appendTo(votes_ul);

				console.log(votes_ul);
				for (var j = 0; j < stone.votes.length; j++) {
					var vote = stone.votes[j];

					$("<li>Bla</li>").appendTo(votes_ul);
					console.log(vote)
				}
			}
		});
	});

</script>
<h1>Guten Tag</h1>

{% raw %}
<script id="stone-template" type="x-tmpl-mustache">
	<li>
			<img src="{{img_src}}" /><span>{{identifier}}</span>
			<ul class="votes">
			</ul>
	</li>
</script>
{% endraw %}

<ul id="stone_chooser">
</ul>


<section id="filter_ui">
	<form>
		<label for="only_least">Only least categorized</label>
		<input type="checkbox" name="only_least" value="1">
		
		<label for="only_least">Only least categorized</label>
		<input type="checkbox" name="only_least" value="1">

		<input type="range" value="3" name="only_least">
	</form>
</section>


<footer>
<ul>
	<li><span>n</span> = New category</li>
	<li><span>1-9</span> = Assign to existing</li>
	
</ul>
</footer>
{% endblock %}