<!doctype html>
<html>
<head>
<title>Jller</title>
</head>
<body>
<h1>Jller</h1>

<h2>Status</h2>

<table>
<tr><th>state:</th><td id="status_state">?</td></tr>
<tr><th>posx:</th><td id="status_posx">?</td></tr>
<tr><th>posy:</th><td id="status_posy">?</td></tr>
<tr><th>posz:</th><td id="status_posz">?</td></tr>
</table>

<button onclick="buttonAction('sleep');">sleep</button>

<button onclick="buttonAction('unsleep');">unsleep</button>

<script src="/static/script.js" type="text/javascript"></script>

</body>
</html>
