<!doctype html>
<html>
<head>
<title>Jller</title>
</head>
<body>
<h1>Jller</h1>

<h2>Status</h2>

<table>
<tr><th>state:</th><td id="status_state">?</td></tr>
<tr><th>x:</th><td id="status_posx">?</td></tr>
<tr><th>y:</th><td id="status_posy">?</td></tr>
<tr><th>z:</th><td id="status_posz">?</td></tr>
<tr><th>e:</th><td id="status_pose">?</td></tr>
<tr><th>vacuum:</th><td id="status_vacuum">?</td></tr>
<tr><th>light:</th><td id="status_light">?</td></tr>
</table>

<button onclick="buttonAction('pause');">pause</button>

<button onclick="buttonAction('unpause');">unpause</button>

<script src="/static/script.js" type="text/javascript"></script>

</body>
</html>
